# any "tmp*" file or dir anywhere
*tmp*

# user defined files
user/*
*/user/*

# the composer stuff
vendor/*
*/vendor/*
composer.lock

# this may be commented on the "dev" branch
phpdoc/*

# this may be commented on the "wip" branch
dev/*

# third-party links & install
.build.conf
config/bootstrap.php
src/bundles/*
src/tools/*
var/*
bin/*
!bin/build.sh
!bin/console
!bin/dev_console
!bin/piwi-bash-library/

# usage
www/indexer*
www/galleries*
www/photos*

# hack to allow keeping an empty directory
!.gitkeep
