/* Global */
body {
	background-color: #fff;margin: 40px;
	font-size: 0.9em; font-family: Lucida Grande, Verdana, Sans-serif; color: #4F5155; }
#page_header  { clear: both; display: block; position: relative; }
#page_menu    { clear: both; display: block; position: relative; }
#page_content { clear: both; display: block; position: relative; }
#page_footer  { clear: both; display: block; position: relative; }
.content { margin: 1em; }
.footer {color: #444; padding-top: 12px; border-top: 1px solid #D0D0D0;font-size: .76em;margin: 1em 0;}

/* Special classes for devices */
.forprinters { display: none; visibility: hidden; }
.forscreens { display: block; visibility: visible; }

/* Typography */
a 				{color: #003399; font-weight: normal; font-size: inherit; }
a:hover			{color: #7A63AA; }
h1,h2,h3 		{color: #444; border-bottom: 1px dotted #D0D0D0;}
h1 				{font-size: 1.6em;font-weight: bold;margin: 24px 0 2px 0;padding: 5px 0 6px 0;}
h2 				{font-size: 1.4em;font-weight: bold;margin: 24px 40% 2px 0;padding: 5px 0 6px 0;}
h3 				{font-size: 1.2em;font-weight: bold;margin-right: 40%;}
div, span, p	{ padding: 0; margin: 0; }
img 			{ border: 0; margin: .2em; }
p, blockquote, ul, ol, dl, li, table, pre
             	{ margin: 1em 0; font-size: 1em; }
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p
             	{ margin-top: 0; text-indent:1em; }
code, cite, pre { font-family: Monaco, Verdana, Sans-serif; background-color: #f9f9f9; border: 1px solid #D0D0D0; color: #002166; font-size: 12px; text-indent:0; }
code            { padding: 0 .6em; display: inline; margin:0; }
cite            { font-size: .9em; display: block; margin: 1em; padding: 0; padding-left: 2em; }
blockquote      { font-size: .9em; display: block; margin: 1em; padding: 0; padding-left: 2em; border: none; border-left: 2px solid #ddd; }
pre             { font-size: 12px; display: block; margin: 1em 0; padding: .6em; overflow: auto; max-height: 320px; }
pre code        { border: none; text-indent:0; padding: 0; }
pre, blockquote {
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */ 
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
abbr 			{ cursor: help; }
ol, ul       	{ padding:0; margin: 0; margin-left: 15px; }
li           	{ padding:0; margin: 0; padding-left: 5px; margin-bottom: 8px; text-indent: 0; }
ul li        	{ margin-left: 15px; list-style-type: disc; }
ol li        	{ margin-left: 15px; }
table 			{ margin: 1em; border-collapse:collapse; border: none; width: auto; }
th 				{ padding: 6px; text-align: left; }
td 				{ padding: 6px; }
thead td, thead td a, thead th, thead th a 
				{ font-size: .86em; font-weight: bold; }
tfoot td, tfoot td a, tfoot th, tfoot th a 
				{ font-size: .86em; font-weight: normal; }
tbody td 		{ font-size: .9em; }
thead tr, tfoot tr 
				{ background-color: #ddd; }
td.overview_entry { border-top: 1px dotted #ddd; }
tr.odd { background-color: #fff; }
tr.even { background-color: #eee; }
tr.hover:hover { background-color: #f5faff; }
tr.checked_on { background-color: #ffe; }
a.external { background: url(../img/out.gif) no-repeat center left; padding-left: 12px; text-decoration: none;}

/* Forms */
.form { float: left; }
form { margin: 1em 2px; display: block; position: relative; }
fieldset { margin: 1px; padding: 6px; border: 1px dotted #ccc;  }
legend { font-weight: bold; }
form .field { margin: 10px 0; clear: left; display: block; position: relative; }
form .buttons { margin-left: 184px; margin-top: 20px; }
label { clear: left; float: left; width: 160px; display: inline-block; margin: 0 10px; }
.form label { background-color: #eee; padding: 4px 6px; text-align: right; font-size: .9em;}
input { float: left; display: inline-block;  }
input.numeric_field { width: 10%;  }
input[type="checkbox"] { float: none; }
button, input[type="button"], input[type="submit"], input[type="reset"] { margin-left: 6px; }
textarea { float: left; display: inline-block; }
form .error { font-size: .9em; }
label.nofloat { clear: none; float: none; width: auto !important; display: inline-block; margin: 2px !important; }

/* special classes */
.hide { display: none; visibility: hidden; }
.show { display: inline; visibility: visible; }
.show_bloc { display: bloc; visibility: visible; }
.clear { clear: both; }
.clearer { clear: both; height: 1px; line-height: 0px; }
.comment { margin: .2em; font-size: .8em; }
.small_infos, .small_infos_right, .small_infos_left { font-size: .8em; }
.small_infos_right { float: right; text-align: right; }
.small_infos_left { float: left; text-align: left; }
.invisible { display: none; visibility: hidden; }
.outlink { margin: 0 .5em; }
.nobg, label.nobg { background: none; }

/* Messages */
.ok_message, .error_message, .info_message { margin: 10px 10em; padding: 8px 20px; border: 1px dotted #404040; background-color: #eee; font-weight: bold; font-size: .9em;}
.ok_message, .ok { border-color: green; color: green;}
.error_message, .error { border-color: red; color: red;}
.info_message, .info { border-color: blue; color: blue; }

/* Profiler */
.profiler {float:right;font-size: .86em;margin:0; padding:0;}
#profiler { text-align: right; }
#profiler li { list-style-type: none; }
table.profiler_table td { vertical-align: top; }
.profiler_handler { float: right; }

/* Debug */
.debugger { font-family: Arial, Helvetica, sans-serif; }
.back_link { font-size: .8em; }
.debugger .debug_message { 
	margin: 1em 3em; border: 2px solid red; padding: 1em; 
	-moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.debugger .error_types_group { margin-bottom: 1em; }
.debugger li.php_trace_item { letter-spacing: .5pt; }
.debugger li.php_trace_item.on { color:red; background-color: #ffcccc; }
.debugger .linker { font-size: .8em; }
.debugger abbr { cursor: help; padding: 0 2px; }
.debugger abbr:hover { color: #fff; background: #ccc; }
.debugger code { color:#404040; }
.debugger .source_code { border: 1px solid #ccc; clear: left; padding: 12px; margin: 4px; font-size: .8em; line-height: .9em; }
.debugger li.source_line { margin: 4px 6px; }
.debugger li.source_line code { color:#404040; font-size: inherit; line-height: inherit;border: none;background: none; }
.debugger li.source_line.on code { color:#404040; background-color:yellow; }

/* Menu */
.menu { clear: left; margin:0; padding: 0 1em; float: left; width: auto; font-size: .9em; color: #404040; }
.menu a { font-size: .9em; color: #404040; text-decoration: none; font-weight: bold; }
.menu a:hover { color: #fff; text-decoration: none; }
.menu ul { list-style-type: none; margin:0; padding:0; margin-top: 20px;  }
.menu ul li { list-style-type: none; float: left; margin:0 20px; padding:4px 8px; background-color: #ccc; }
.menu a.active { color: #fff; }

/* Pagination/Limiter */
.pager { }
.pager a { text-decoration: none; }
.pager a:hover { text-decoration: underline; font-weight: bold; }
.pager .pagination_link { padding: 0 1px; }
.pager form { display: inline; margin: 0; padding: 0; }
.pager form label { clear: none; float: none; width: auto !important; margin: 0; }
.pagination_link strong { padding:1px 2px; background: #eee; }

/* Read */
.left_label { float: left; width: 160px; background-color: #eee; padding: 4px; margin: 0; margin-right: 4px; text-align: right; font-size: .9em; }
.right_value { float: left; width: auto; padding: 4px; margin: 0;  }

/* Calendar */
table.ds_box, table.ds_tbl { margin: 0; border-collapse: separate; }
table.ds_box td { padding: 2px; }
.ds_box { background-color: #FFF; border: 1px solid #000; position: absolute; z-index: 32767; }
.ds_tbl { background-color: #FFF; }
.ds_head { background-color: #333; color: #FFF; font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px; font-weight: bold; text-align: center; letter-spacing: 2px; }
.ds_subhead { background-color: #CCC; color: #000; font-size: 12px; font-weight: bold; 
	text-align: center; font-family: Arial, Helvetica, sans-serif; width: 32px; }
.ds_cell { background-color: #EEE; color: #000; font-size: 13px; text-align: center; 
	font-family: Arial, Helvetica, sans-serif; padding: 5px; cursor: pointer; }
.ds_cell:hover { background-color: #F3F3F3; } /* This hover code won't work for IE */

/* Search-box */
.search_box { z-index: 200; background: #fff; padding: 0.2em 0.6em; }
.search_box, .search_box form { text-align: right; float: right; position: relative; }
.search_box form input { margin: 0 2px; }

/* Breadcrumb */
.breadcrumb { font-size: .76em; float: left; }
.breadcrumb div { display: inline; }
.breadcrumb a { text-decoration: none; }
.breadcrumb a:hover { text-decoration: underline; }

/* CMS */
.cms_content { margin: 1em 0; }
ul.cms_home_list_items {  }
li.cms_home_item { padding: 2px; }
li.cms_home_item h4 { margin: 2px 0; }
li.cms_home_item:hover { border: 1px solid #CCC; padding: 1px; }
.text_tools_box { text-align: right; float: right; position: relative; padding: 0.2em 0.6em; }
.text_tools_box, .text_tools_box button { font-size: .8em; }

/* Toggler */
.toggler_off { border: 0px; color: #CCC; }
.toggler_on  { border: 0px; }

